.Container {
  display: grid;
  place-items: start center;
}

.DesktopAboutPage {
  max-width: 1440px;
  max-height: 3077px;
  display: flex;
  flex-direction: column;
}

.DesktopNavbar {
  background-color: #fff;
  width: 1200px;
  height: 50px;
  margin: 27px 120px 0px 129px;
  display: flex;
}

.DesktopLogo {
  width: 60px;
  height: 48px;
  margin: 1px 1031.5px 1px 10px;
}

.DesktopMenu {
  width: 46px;
  height: 19px;
  margin: 16px 17.5px 15px 0px;
  font: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 19px;
  letter-spacing: 3px;
  color: #1e252c;
}

.DesktopHamburgerMenu {
  width: 25px;
  height: 10px;
  margin: 20px 10px 20px 0px;
}

.DesktopAboutPageBody {
  position: relative;
  top: 0;
  left: 0;
}

.DesktopAbout {
  width: 335.1px;
  height: 92px;
  margin-top: 127.5px;
  margin-left: 129.4px;
  font-family: Eczar-SemiBold;
  font-size: 120px;
  font-weight: 600;
  text-align: left;
  line-height: 0.75;
  color: transparent;
  -webkit-text-stroke: 0.6px #1e252c;
  position: absolute;
  z-index: 2;
}

.DesktopApple {
  width: 701px;
  height: 493px;
  margin-top: 195px;
  margin-left: 132px;
  position: relative;
  z-index: 1;
}

.DesktopMaskOne {
  width: 701px;
  height: 493px;
  top: -431px;
  left: 202px;
  background-color: #d8d8d8;
  position: relative;
}

.DesktopFirstText {
  width: 280px;
  height: 76px;
  font: Poppins;
  font-size: 27px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: 0.5px;
  color: #1e252c;
  top: 327px;
  left: 1030px;
  position: absolute;
}

.DesktopSecondText {
  width: 270px;
  height: 224px;
  font: RobotoMono;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #4a4a4a;
  top: 431px;
  left: 1030px;
  position: absolute;
}

.DesktopThirdText {
  width: 460px;
  height: 208px;
  font: Poppins;
  font-size: 35px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: normal;
  color: #1e252c;
  top: 939px;
  left: 130px;
  position: absolute;
}

.DesktopFourthText {
  width: 665px;
  height: 192px;
  font: RobotoMono;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #4a4a4a;
  top: 1207px;
  left: 330px;
  position: absolute;
}

.DesktopVision {
  width: 574px;
  height: 150px;
  transform: rotate(90deg);
  -webkit-text-stroke: 1px #1e252c;
  font-family: Eczar-SemiBold;
  font-size: 120px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: transparent;
  top: 1031px;
  left: 1019.5px;
  position: absolute;
}

.DesktopMaskTwo {
  width: 996px;
  height: 553px;
  background-color: #d8d8d8;
  top: 1514px;
  left: 140px;
  position: absolute;
}

.DesktopPyramid {
  width: 1074px;
  height: 571px;
  top: 1597px;
  left: 230px;
  position: absolute;
}

.DesktopValues {
  width: 592px;
  height: 92px;
  font-family: Eczar-SemiBold;
  font-size: 120px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: transparent;
  -webkit-text-stroke: 0.6px #1e252c;
  top: 2083px;
  left: 422.5px;
  position: absolute;
}

.DesktopFifthText {
  width: 701px;
  height: 156px;
  font: Poppins;
  font-size: 35px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.49;
  letter-spacing: normal;
  text-align: center;
  color: #1e252c;
  top: 2300px;
  left: 370px;
  position: absolute;
}

.DesktopSixthText {
  width: 560px;
  height: 256px;
  font: RobotoMono;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #4a4a4a;
  top: 2474px;
  left: 130px;
  position: absolute;
}

.DesktopSeventhText {
  width: 560px;
  height: 160px;
  font: RobotoMono;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #4a4a4a;
  top: 2474px;
  left: 730px;
  position: absolute;
}
